In [18]:
import os
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

In [19]:
data_lazada = pd.DataFrame()
directory = 'lazada/'
for filename in os.listdir(directory):
  if filename.endswith(".csv"):
    file_directory = os.path.join(directory, filename)
    data_1 = pd.read_csv(file_directory)
    data_lazada = data_lazada.append(data_1, ignore_index = True)

data_lazada = data_lazada.drop_duplicates(subset=['url'], keep='first')

In [20]:
my_list = ['tplink', 'tp link', 'tp_link', 'tp-link', 'tplin/k', 'mercusys']
dsa_str = '|'.join(my_list)
df = data_lazada[data_lazada.stack().str.contains(dsa_str, case = False).any(level=0)]

In [22]:
df['title'] = df['title'].str.replace('bracket','')
df['title'] = df['title'].str.replace('tatakan','')
df['title'] = df['title'].str.replace('dudukan','')
df['title'] = df['title'].str.replace('hanger','')
df['title'] = df['title'].str.replace('holder','')

In [5]:
df_a = df[["title","price_original","price","site_id","url","is_instock","seller_name"]]

In [6]:
df_a = df_a.rename(columns={"price_original": "Original Price", "price": "Selling/After Discount Price","site_id":"Merchant Name","is_instock":"In Stock","seller_name":"Seller Name" })

In [7]:
df_a.insert(0,'SKU Name', np.nan)
df_a.insert(2, 'Bottom Price', np.nan)
df_a.insert(5,'% Discrepancy Bottom Price vs Selling Price', np.nan)
df_a.insert(10,'Total Sold', np.nan)

In [47]:
df_a

       SKU Name  ... Total Sold
0           NaN  ...        NaN
1           NaN  ...        NaN
4           NaN  ...        NaN
5           NaN  ...        NaN
6           NaN  ...        NaN
...         ...  ...        ...
54053       NaN  ...        NaN
54055       NaN  ...        NaN
54062       NaN  ...        NaN
54217       NaN  ...        NaN
54218       NaN  ...        NaN

[15452 rows x 11 columns]

In [8]:
df_a["In Stock"].replace({True: "In Stock", False: "Out of Stock"}, inplace=True)
df_a["Merchant Name"].replace({39: "lazada"}, inplace=True)

In [9]:
lazada_data = df_a.drop_duplicates(subset=['url'], keep='first')

lazada_data.reset_index(drop=True, inplace=True)

#lazada_data.to_csv(r'lazada_py.csv')

In [10]:
#lazada_data.to_csv(r'lazada_py.csv')